
/* estilos para el proyecto StarWors */
.losMalos{
    /* color de fondo para los malos */
    background-color: red;
}

/* imagenes */
.Imagenes{
  /* display: flex;
  justify-content: center; */

  margin-left: 500px;
}


/* color de fondo para los rebeldes */
.losRebeldes{
    /* Color de fondo */
    background-color: blue;
}

/* Cambio del tamaño de letra para Darth Vader */
#Aumento_letra{
    /* tamaño de la fuente */
    font-size: 50px;
    list-style: none; /*quita las viñetas*/
    /* font-family: 'Caprasimo'; */
}


/* cambio de estilo de letra para el nombre de Luke */
#Luke{
    /* estilo de fuente */
    font-style: italic;
}

/* soldados */
.soldados{
    border: 10px dashed darkorange;
    letter-spacing: 5px;
}

/* clase apoyo - modificada */
.apoyo{
    text-align: center;
}


/* imagenes de las naves */
.Naves{
    text-transform: uppercase;
}


.Droides{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* imagen de fondo estrollado */
.fondo_img{
    background-image: url(../imagenes/space-1164579_1280.png);
    /* background-repeat:repeat; */
}

.color{
    color: red;
    text-shadow: 2px 5px 3px yellow;
}


/* Lider: Darth Vader */
#LiderVader{
    /* text-align: center; */
    /* color: black; */
    margin-left: 350px;
    padding: 30px;
    font-size: 80px;
    text-shadow: 2px 3px 20px whitesmoke;
    font-weight: bolder; 
    color: gray;
    
}


.img_soldados{
    display: flex;
    justify-content: center;
}


.tanque{
    margin-left: 350px;
}

/* Lider: Luke Skywalker */
#LiderLuke  {
    /* text-align: center; */
    margin-left: 300px;
    font-size: 70px;
    padding: 30px;
    /* background-color: black; */
    text-shadow: 2px 3px 5px whitesmoke;
    font-weight: bolder;
    color: greenyellow;
    height: 2px;
}