/* estilos para el titulo */
.titulo{
    text-align: center;
    font-size: 40px;

}

.back{
    background-color: cornflowerblue;
}

.fuente{
    font-style: italic;
    color: red;
    background-color: blueviolet;
    border: solid black ;
    /* margin-inline:unset; */
    /* display: none; */
    text-align: center;
    font-size: 3rem;

}

/* Archivo html de nosotros */
.nosotros{
    text-align: center;
    padding: 40px;
    background-color: red;
    border: 2px solid black;
    /* margin-left: 100px, 100px; */
    /* margin-right: 100px; */
}

/* listas ordenadas y desordenadas */
.ordenada, 
.desordenada {
    font-size: 30px;
    font-weight: bolder;
    font-style: italic;
    color:navy;
    margin-left: 100px;
}

.parrafo{
    font-size: 40px;
    font-weight: bolder;
}

/* enlaces */
.enlaces{
    font-size: 40px;
    padding-top: 30px;
}