/* estilo del titulo principal */
.titulo{
    text-align: center;
    padding: 2rem;
    margin-top: 20px;
    color: blue;
    background-color: cornflowerblue;
    font-size: 60px;
    text-shadow: 2px 3px 5px black;
}