.Clase3{
    color: whitesmoke;
    font-weight: bolder;
    font-style: italic;
    font-size: 50px;
    padding: 10px;
    text-align: center;
    border: 2px solid black;
    background: linear-gradient(to top left, red, blue, orange);
    text-shadow: 2px 5px 3px black;
    margin-top: 40px;
}

.fondo{
    background-color: burlywood;
}

.titulo{
    background-color: red;
    font-size: 40px;
    color: bisque;
}

.formulario{
    color: red;
    font-weight: bolder;
}

.input{
    /* background-color: red; */
    box-shadow: 2px 3px 5px blue;
    font-size: 12px;
    text-transform: uppercase;
    /* text-overflow: ellipsis; */
    margin-left: 10px;
}

.indicadores{
    font-size: 20px;
    font-weight: bolder;
    margin-left: 6%;
}

#btn-enviar{
    font-weight: bolder;
    text-shadow: 2px 3px 5px gold;
    background-color: red;
}
